@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(245,245,245);
    margin: 0px;
    padding: 0px;
    background-color: black;
}
/*
* Estilos para la barra de navegacion*/

.nav {
    background-color: #26858B;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 15px 50px;
    font-size: 2.5rem;
}

.nav__bar{
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    padding-right: 20px;
}

.bar__link{
    text-decoration: none;
    padding: 10px;
    display: inline;
}

.bar__link a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(245, 245, 245);
}

.link--select{
    border-bottom: 2px solid;
    border-color: #5abec5;
    font-weight: 550;
}
/*Estilos para el inicio*/

.main-container{
    margin: 200px 0px;
    height: 600px;
    width: 100%;
    background-image: url(../Imagenes/fondoinicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.main-container__card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container__photo{
    border-radius: 50%;
    border: 1px solid;
    border-color: #26858B;
}

.main-container__name{
    font-size: 3.5rem;
    font-weight: 450;
}

.main-container__text{
    font-size: 3rem;
    font-weight: 150;
    text-align: center;
}

.main-container__link{
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 2.5rem;
}

/*Estilos para el footer*/

.footer-container{
    background-color: #838383;
    text-align: center;
    font-size: 0.6rem;
}

.footer-container__links-box{
    text-align: center;
}

.footer-container__icons{
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}

.footer-container__copyright{
    margin: 0;
}

